@import "tailwindcss";

:root {
  --background: #f5f8e5;
  --foreground: #171717;
  --primary-color: #4A90E2;
  --secondary-color: #50E3C2;
  --terciary-color: #F8E71C;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto"
}
